body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.button-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:   
   center;
    background-color:   
   black;
  }
  
  video {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the video fills the screen */
    z-index: -1;
  }

.circular-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Increased button size */
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: glow 5s infinite alternate;
    color: rgb(240, 232, 232);
    font-size: 26px; /* Increased font size */
    font-weight: bold; /* Added bold font weight */
}

.male-button {
    background-color: rgb(70, 93, 185);
    animation: male-move 5s infinite linear;
}

.female-button {
    background-color: rgb(248, 3, 244);
    animation: female-move 5s infinite linear;
}

@keyframes glow {
    0% {
      opacity: 0.5;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 0.5;
      transform: scale(1);
    }
  }
  
  @keyframes male-move {
    0% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
    25% {
      transform: translateX(50px) translateY(50px) rotate(10deg);
    }
    50% {
      transform: translateX(0) translateY(100px) rotate(-10deg);
    }
    75% {
      transform: translateX(-50px) translateY(50px) rotate(10deg);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
  }
  
  @keyframes female-move {
    0% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
    25% {
      transform: translateX(-50px) translateY(-50px) rotate(-10deg);
    }
    50% {
      transform: translateX(-100px) translateY(0) rotate(10deg);
    }
    75% {
      transform: translateX(-50px) translateY(-50px) rotate(-10deg);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
  }
